<a href="https://colab.research.google.com/github/PhamAnhKiet20146220/AI-T7-tiet_1234/blob/main/AI_ST7_W8_Lungcancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url ="/content/lung_cancer_examples.csv"
data = pd.read_csv(url)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
dataframe = pd.read_csv(url)
dataframe.drop(['Name', 'Surname'], axis=1).head(2)

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [ ]:
x=data.loc[:,['Age','Smokes','AreaQ','Alkhol']]
y=data['Result']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
sc=StandardScaler()
sc.fit(x_train)
x_train_Std=sc.transform(x_train)
x_test_Std=sc.transform(x_test)

In [ ]:
print(x_train,x_train_Std)

    Age  Smokes  AreaQ  Alkhol
11   18      10      6       3
7    22      12      5       2
18   62       5      4       3
41   47      12      8       0
1    27      20      2       5
14   34      25      4       8
43   63      20      4       5
22   22      20      6       2
10   33       4      8       0
23   44       5      8       1
44   39      15      7       2
36   59      20      3       4
26   37      15      6       2
46   31      20      9       4
13   28      20      2       8
37   62      15      5       5
25   21      20      5       3
5    34       0     10       0
42   69      20      5       4
52   26      34      1       8
35   25      20      8       2
48   53      20      6       3
50   42      12      6       2
57   43      30      3       8
12   25       2      5       1
45   21      20      8       3
15   39      18      8       1
58   51      25      9       0
0    35       3      5       4
32   47      15      1       8
33   62      25      3       4
2    30       0      5       2
55   77      20      5       4
24   77       3      2       6
27   34      12      8       0
17   19      12      8       0
29   40      20      2       7
16   42      22      3       5
49   62      20      5       6
56   75      15      3       5
3    28       0      8       1 [[-1.39499176 -0.63591052  0.27611461 -0.17635198]
 [-1.15840578 -0.39450005 -0.14317054 -0.57804259]
 [ 1.20745409 -1.23943671 -0.5624557  -0.17635198]
 [ 0.32025664 -0.39450005  1.11468493 -1.38142381]
 [-0.86267329  0.57114186 -1.40102601  0.62702925]
 [-0.44864782  1.17466805 -0.5624557   1.83210108]
 [ 1.26660059  0.57114186 -0.5624557   0.62702925]
 [-1.15840578  0.57114186  0.27611461 -0.57804259]
 [-0.50779431 -1.36014195  1.11468493 -1.38142381]
 [ 0.14281715 -1.23943671  1.11468493 -0.9797332 ]
 [-0.15291533 -0.03238433  0.69539977 -0.57804259]
 [ 1.0300146   0.57114186 -0.98174085  0.22533864]
 [-0.27120833 -0.03238433  0.27611461 -0.57804259]
 [-0.62608731  0.57114186  1.53397008  0.22533864]
 [-0.8035268   0.57114186 -1.40102601  1.83210108]
 [ 1.20745409 -0.03238433 -0.14317054  0.62702925]
 [-1.21755227  0.57114186 -0.14317054 -0.17635198]
 [-0.44864782 -1.84296291  1.95325524 -1.38142381]
 [ 1.62147957  0.57114186 -0.14317054  0.22533864]
 [-0.92181979  2.26101519 -1.82031116  1.83210108]
 [-0.98096629  0.57114186  1.11468493 -0.57804259]
 [ 0.67513562  0.57114186  0.27611461 -0.17635198]
 [ 0.02452416 -0.39450005  0.27611461 -0.57804259]
 [ 0.08367065  1.77819424 -0.98174085  1.83210108]
 [-0.98096629 -1.60155243 -0.14317054 -0.9797332 ]
 [-1.21755227  0.57114186  1.11468493 -0.17635198]
 [-0.15291533  0.32973138  1.11468493 -0.9797332 ]
 [ 0.55684263  1.17466805  1.53397008 -1.38142381]
 [-0.38950132 -1.48084719 -0.14317054  0.22533864]
 [ 0.32025664 -0.03238433 -1.82031116  1.83210108]
 [ 1.20745409  1.17466805 -0.98174085  0.22533864]
 [-0.6852338  -1.84296291 -0.14317054 -0.57804259]
 [ 2.09465154  0.57114186 -0.14317054  0.22533864]
 [ 2.09465154 -1.48084719 -1.40102601  1.02871986]
 [-0.44864782 -0.39450005  1.11468493 -1.38142381]
 [-1.33584527 -0.39450005  1.11468493 -1.38142381]
 [-0.09376884  0.57114186 -1.40102601  1.43041047]
 [ 0.02452416  0.81255234 -0.98174085  0.62702925]
 [ 1.20745409  0.57114186 -0.14317054  1.02871986]
 [ 1.97635855 -0.03238433 -0.98174085  0.62702925]
 [-0.8035268  -1.84296291  1.11468493 -0.9797332 ]]

In [ ]:
model=Perceptron(max_iter=10000, eta0=0.05,random_state=0)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)
print('Độ chính xác của mô hình chưa Scale:',accuracy_score(y_test,y_pred))

[1 0 1 0 0 0 1 1 1 1 1 0 0 1 0 1 1 0]
4     1
53    0
9     1
21    0
6     0
8     0
51    1
39    0
31    1
40    1
19    1
54    0
38    0
20    1
34    0
30    0
28    1
47    0
Name: Result, dtype: int64
Độ chính xác của mô hình chưa Scale: 0.8888888888888888

In [ ]:
model=Perceptron(max_iter=10000, eta0=0.05,random_state=0)
model.fit(x_train_Std,y_train)
y_pred = model.predict(x_test_Std)
print(y_pred)
print(y_test)
print("Độ chính xác của mô hình đã Scale:",accuracy_score(y_test,y_pred))

[1 0 1 0 0 0 1 1 1 1 1 0 0 1 0 0 1 0]
4     1
53    0
9     1
21    0
6     0
8     0
51    1
39    0
31    1
40    1
19    1
54    0
38    0
20    1
34    0
30    0
28    1
47    0
Name: Result, dtype: int64
Độ chính xác của mô hình đã Scale: 0.9444444444444444