<a href="https://colab.research.google.com/github/PhamAnhKiet20146220/AI-T7-tiet_1234/blob/main/AI_ST7_W8(24_3)_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url ="/content/pima-indians-diabetes.csv"
data = pd.read_csv(url)
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [ ]:
x=data.loc[:,['Pregnancies','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]
y=data['Outcome']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
sc=StandardScaler()
sc.fit(x_train)
x_train_Std=sc.transform(x_train)
x_test_Std=sc.transform(x_test)

In [ ]:
print(x_train,x_train_Std)

     Pregnancies  BloodPressure  SkinThickness  Insulin   BMI  \
705            6             80             36        0  39.8
165            6             74             18      156  29.9
139            5             72             29      325  36.9
242            3             54              0        0  25.6
520            2             70             32       66  25.0
..           ...            ...            ...      ...   ...
38             2             68             42        0  38.2
435            0              0              0        0  42.4
565            2             54             14       88  26.1
201            1             82              0        0  40.1
636            5             74              0        0  28.8

     DiabetesPedigreeFunction  Age
705                     0.177   28
165                     0.722   41
139                     0.159   28
242                     0.402   22
520                     0.187   25
..                        ...  ...
38                      0.503   27
435                     0.205   29
565                     0.748   22
201                     0.236   28
636                     0.153   48

[537 rows x 7 columns] [[ 0.650832    0.56010597  0.982001   ...  0.97716538 -0.91681795
  -0.45229651]
 [ 0.650832    0.24933252 -0.13681343 ... -0.24929171  0.76072004
   0.6594929 ]
 [ 0.34823738  0.14574137  0.5469065  ...  0.61790017 -0.97222287
  -0.45229651]
 ...
 [-0.55954648 -0.78657899 -0.38543886 ... -0.72005302  0.84074938
  -0.96543008]
 [-0.86214109  0.66369712 -1.25562787 ...  1.01433075 -0.73521292
  -0.45229651]
 [ 0.34823738  0.24933252 -1.25562787 ... -0.38556472 -0.99069118
   1.25814874]]

In [ ]:
model=Perceptron(max_iter=100, eta0=0.1,random_state=0)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)
print('Độ chính xác của mô hình chưa Scale:',accuracy_score(y_test,y_pred))

[0 0 0 0 1 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 1 0 0 1 0 0
 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1
 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0
 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1
 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 1 0 0 0 1 1 0 0 0 0 0 0 0
 1 0 0 0 0 1 0 0 0]
315    0
290    0
286    0
248    0
582    0
      ..
25     1
519    0
647    1
629    0
538    0
Name: Outcome, Length: 231, dtype: int64
Độ chính xác của mô hình chưa Scale: 0.6406926406926406

In [ ]:
model=Perceptron(max_iter=100, eta0=0.1,random_state=0)
model.fit(x_train_Std,y_train)
y_pred = model.predict(x_test_Std)
print(y_pred)
print(y_test)
print("Độ chính xác của mô hình đã Scale:",accuracy_score(y_test,y_pred))

[0 0 1 1 1 0 0 1 0 1 0 0 0 1 0 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1
 0 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0
 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 0 1 0 1 0 0
 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 1 0 1 0 1 1 0 1 0
 1 0 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 1 1
 1 0 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0
 0 0 1 0 1 0 1 0 0]
315    0
290    0
286    0
248    0
582    0
      ..
25     1
519    0
647    1
629    0
538    0
Name: Outcome, Length: 231, dtype: int64
Độ chính xác của mô hình đã Scale: 0.6883116883116883